* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    vertical-align: top;
    /* display: inline-block; */
    box-sizing: border-box;
}

:host ::ng-deep #container {
    border: grey;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
}

:host ::ng-deep body {
    border: grey;
    border-radius: 5px;
    background-color: grey;
    margin: 0px;
}

:host ::ng-deep .row {
    height: 30px;
}

:host ::ng-deep .row div {
    width: 30px;
    height: 30px;
    display: inline-block;
}

:host ::ng-deep div.brick {
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
}

:host ::ng-deep div.empty {
    background-color: whitesmoke;
}

:host ::ng-deep div.buttons {
    background-color: white;
    display: inline-block;
    margin-left: 1200px;
    margin-top: -300px;
}

:host ::ng-deep div.tree {
    background-image: url('../../assets/images/tree.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 55px;
    position: absolute;
}

:host ::ng-deep div.dojo {
    background-image: url('../../assets/images/dojo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 90px;
    position: absolute;
}

:host ::ng-deep div.house {
    background-image: url('../../assets/images/house.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
}

:host ::ng-deep div.starbucks {
    background-image: url('../../assets/images/starbucks.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 105px;
    position: absolute;
}

:host ::ng-deep div.spa {
    background-image: url('../../assets/images/spa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
}

:host ::ng-deep div.fountain {
    background-image: url('../../assets/images/fountain.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90px;
    height: 90px;
    position: absolute;
}

:host ::ng-deep div.chocolate {
    background-image: url('../../assets/images/chocolate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
}

:host ::ng-deep div.meat {
    background-image: url('../../assets/images/meatbone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
}

:host ::ng-deep div.building {
    background-image: url('../../assets/images/officebuilding.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 90px;
    position: absolute;
}

:host ::ng-deep div.coffee {
    background-image: url('../../assets/images/starbuckscoffee.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
}

:host ::ng-deep #health {
    border: 3px solid grey;
    border-radius: 5px;
    width: 5%;
    height: 8%;
    color: red;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 80px;
    margin-left: 1260px;
}

:host ::ng-deep #MrFox {
    background-image: url('../../assets/images/shiba2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 45px;
    height: 45px;
    position: absolute;
}

:host ::ng-deep button {
    font-size: 24px;
}

:host ::ng-deep #Cat {
    background-image: url('../../assets/images/cat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 45px;
    height: 45px;
    position: absolute;
}