<!-- <h1>Adventures of Mr. Fox</h1>

<div id='container'>
    <div [innerHTML]="stuff" id='world'></div>
    <div id='MrFox'></div>
    <div id="Cat"></div>
    <div [innerHTML]='MrFox.health' id='health'></div>
    <br>
<div class = "buttons">
    <button (click)="moveMrFox('up')">UP</button><br>
    <button (click)="moveMrFox('left')">LEFT</button>
    <button (click)="moveMrFox('right')">RIGHT</button><br>
    <button (click)="moveMrFox('down')">DOWN</button>
</div>

</div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id='world'> </div>
        <div id='MrFox'></div>
        <div id='cat'></div>
        <div id='health' innerHTML='this.health'>Health:</div> 
    </div> 
    <div class="popup">
        <button *ngIf='story6' (click)="closeStory()">X</button>
        <app-story6 *ngIf='story6'></app-story6>
    </div>
</body>