/* * {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    vertical-align: top;
    display: inline-block; 
    box-sizing: border-box;
}    */

/* :host ::ng-deep #container {
    border: grey;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
} */

/* :host ::ng-deep body {
    border: grey;
    border-radius: 5px;
    background-color: grey;
    margin: 0px;
} */

:host ::ng-deep body {
    margin: 0px;
}


:host ::ng-deep .row div {
    width: 40px;
    height: 40px;
    display: inline-block;
}

:host ::ng-deep .row {
    height: 40px;
    
}

:host ::ng-deep div.brick {
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
}

:host ::ng-deep div.empty {
    background-color: whitesmoke;
}

/* :host ::ng-deep div.buttons {
    background-color: white;
    display: inline-block;
    margin-left: 1200px;
    margin-top: -300px;
} */

:host ::ng-deep div.tree {
    background-image: url('../../assets/images/tree.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
}

:host ::ng-deep div.dojo {
    background-image: url('../../assets/images/dojo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    width: 40px;
    height: 40px;
}

:host ::ng-deep div.house {
    background-image: url('../../assets/images/house.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
}

:host ::ng-deep div.logo {
    background-image: url('../../assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
}

:host ::ng-deep div.spa {
    background-image: url('../../assets/images/spa.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
}

:host ::ng-deep div.fountain {
    background-image: url('../../assets/images/fountain.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.chocolate {
    background-image: url('../../assets/images/chocolate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.meat {
    background-image: url('../../assets/images/meatbone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.building {
    background-image: url('../../assets/images/officebuilding.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
}

:host ::ng-deep div.coffee {
    background-image: url('../../assets/images/coffeecup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.cat {
    background-image: url('../../assets/images/cat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.man {
    background-image: url('../../assets/images/man.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.horse {
    background-image: url('../../assets/images/horse.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.cloud {
    background-image: url('../../assets/images/cloud.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}
:host ::ng-deep div.squirrel {
    background-image: url('../../assets/images/squirrel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.binnybob {
    background-image: url('../../assets/images/binnybob2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.bird {
    background-image: url('../../assets/images/bird.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.servicedog {
    background-image: url('../../assets/images/servicedog.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep div.anne {
    background-image: url('../../assets/images/anne.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    outline: 1px solid rgb(208, 220, 231);
    width: 40px;
    height: 40px;
    
}

:host ::ng-deep #health {
    border: 3px solid grey;
    border-radius: 5px;
    width: 5%;
    height: 8%;
    color: red;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 80px;
    margin-left: 1350px;
}
:host ::ng-deep #shibaSneeze {
    width: 5%;
    height: 8%;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 250px;
    margin-left: 1340px;
}

:host ::ng-deep #shibaBark {
    width: 5%;
    height: 8%;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 350px;
    margin-left: 1340px;
}

:host ::ng-deep #MrFox {
    background-image: url('../../assets/images/shiba2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
}

:host ::ng-deep button {
    font-size: 24px;
}

:host ::ng-deep #cat {
    background-image: url('../../assets/images/cat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
}

:host ::ng-deep .popup {
    margin-left: 400px;
    margin-top: -600px;
}