<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Evil Stranger Ryan</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images/ryan.jpg" style= "width: 100%; height: 100%" class="card-img-top" alt="cat image">
        <div class="card-body">
            <h5 class="card-title">Evil Ryan says, "Hey, python! Here's the thing. You've made me BIG MAD."</h5>
            <p class="card-text">Ryan throws a python at you. Lose 5 points.</p>
        </div>
    </div>
</body>
</html>
