<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Ms. Squirrel</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/images/squirrel.png" style= "width: 150px; height: 150px" class="card-img-top" alt="cat image">
        <div class="card-body">
            <h5 class="card-title">Mr. Fox chases Ms. Squirrel!</h5>
            <p class="card-text">You lose her, snap back into reality, oop there goes gravity, and you are now super lost.</p>
        </div>
    </div>
</body>
</html>
